.sellerIT {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    height: 100vh;

    .sellerIT-head-cont {
        padding-top: 2rem;
        font-size: 2rem;
    }

    .sellerIt-trans-cont {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        height: 40rem;
        overflow-y: scroll;


        .sellerIt-trans-wrapper {
            display: flex;
            align-items: center;
            gap: 5rem;
            justify-content: space-evenly;
            background-color: burlywood;
            padding: 2rem 1rem;
            font-weight: 600;
            border-radius: 5px;
            width: 55rem;

            .sellerIT-trans-left {
                display: flex;
                align-items: center;
                gap: 3.5rem;
                flex: 2;

                .sellerIt-Name {
                    font-size: 1.8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1.5;
                }

                .sellerIt-view {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    color: black;
                    text-decoration: none;
                    flex: 1;

                    &:hover {
                        color: blue;
                    }

                    &::selection {
                        background: transparent;
                    }
                }

            }

            .sellerIT-trans-right {

                display: flex;
                align-items: center;
                justify-content: space-evenly;
                gap: 1rem;
                flex: 1;
                transition: all .5s;

                .seller-mail {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.7rem;
                    cursor: pointer;

                    &:hover {
                        color: blue;
                    }

                    &:active {
                        scale: 1.1;
                    }


                }

                .sellerIt-Amt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.8rem;
                    color: red;
                }
            }

        }
    }

}

@media (max-width:600px) {

    .sellerIT {

        .sellerIt-trans-cont {
            height: 70rem;
            padding: 1rem !important;
        }

        .sellerIt-trans-wrapper {
            width: 45rem !important;
            gap: 2rem !important;
            padding: 1rem;

            .sellerIT-trans-left {
                gap: 2rem !important;
            }

            .sellerIT-trans-right {
                gap: 2rem !important;
            }
        }
    }

}