.seller-Consumer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;

    .consumer-container {

        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        gap: 2rem;


        .C-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;

        }

        .search-container {
            padding-top: 5rem;
            padding-bottom: 3rem;


            .search-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                .con-search-input {
                    width: 55rem;
                    height: 4.9rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                    text-indent: 10px;
                    border: 2px solid black;
                    border-radius: 5px;
                    text-indent: 2rem;



                }

                .search-btn {
                    padding: 1rem 2rem;
                    border-radius: 5px;
                    background-color: blue;
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: white;
                    transition: all .3s;

                    &::selection {
                        background: transparent;
                    }

                    &:active {
                        scale: 1.1;

                    }


                }
            }
        }


        .cname-container {
            width: 100%;
            overflow-y: scroll;
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 40rem;
            position: relative;






            .cname-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                background-color: burlywood;
                padding: 2rem 1rem;
                border-radius: 5px;
                font-size: 1.5rem;

                .con-name {
                    padding-left: 1rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                    flex: 1;
                }
            }

            .con-icon-cont {
                display: flex;
                gap: 7rem;
                justify-content: space-evenly;
                flex: 1.5;

                .con-reset {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    transition: all .3s;
                    gap: 2rem;
                    cursor: pointer;

                    &::selection {
                        background: transparent;
                    }



                    .edit {

                        transition: all .5s;

                        &:hover {
                            color: blue;
                        }

                        &:active {
                            scale: 1.3;

                        }

                        &::selection {
                            background: transparent;
                        }
                    }

                    .con-trans-limit {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.8rem;
                        font-weight: 700;
                        color: red;

                        &::selection {
                            background: transparent;
                        }

                    }
                }



                .con-delete {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.5rem;
                    transition: all .3s;
                    cursor: pointer;
                    padding: 0 1.5rem;

                    &:active {
                        scale: 1.3;

                    }

                    .con-it-reset {

                        &:hover {
                            color: blue !important;
                        }
                    }
                }

            }
        }

        .seller-consumer-lable {
            background-color: darkcyan;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10rem;
            padding: 2.2rem 3rem;
            border-radius: 5px;
            font-size: 1.7rem;
            font-weight: 700;
            position: sticky;
            top: 0;
            scroll-snap-type: y mandatory;
            color: white;

            .seller-consumer-lable-left {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 3rem;
            }

        }



    }

}

@media (max-width: 1000px) {

    .seller-Consumer {
        padding: .5rem;
        height: 100vh;

        .consumer-container {
            overflow-y: hidden;

            .seller-consumer-lable {
                gap: 3rem !important;
            }


            .search-wrap {
                flex-direction: column;

                .con-search-input {
                    width: 30rem !important;
                }
            }

            .cname-container {

                .cname-wrapper {
                    .con-icon-cont {
                        gap: 7rem;
                    }
                }
            }
        }
    }
}