.ConsumerIT {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;

    .ConIT-head-cont {
        padding-top: 2rem;
        font-size: 2rem;
    }

    .ConIt-trans-cont {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        height: 40rem;
        overflow-y: scroll;


        .ConIt-trans-wrapper {
            display: flex;
            align-items: center;
            gap: 8rem;
            justify-content: space-evenly;
            background-color: burlywood;
            padding: 2rem;
            font-weight: 600;
            border-radius: 5px;

            .ConIT-trans-left {
                display: flex;
                align-items: center;
                gap: 4rem;

                .conIt-Name {
                    font-size: 1.8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .ConIt-view {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: blue;
                    }

                    &::selection {
                        background: transparent;
                    }
                }

            }

            .conit-limit-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex-wrap: wrap;

                .c-limit {
                    font-size: 1.5rem;
                    font-weight: 600;
                    word-wrap: break-word;
                }

                .c-amt {
                    font-size: 1.5rem;
                    color: green;
                    font-weight: 700;
                    word-wrap: break-word;
                }
            }

            .ConIt-Amt {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.8rem;
                color: red;
            }

        }
    }



}

@media (max-width:600px) {

    .ConsumerIT {
        .ConIt-trans-cont {
            height: 70rem;


            .ConIt-trans-wrapper {
                gap: 4rem;

                .ConIT-trans-left {
                    gap: 2rem;
                }

                .conit-limit-wrapper {
                    font-size: 1rem;

                    .c-limit {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

            }
        }
    }
}