.row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con-pro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 3rem;




    .con-profile-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;


        .inputs {
            display: flex;
            align-items: center !important;
            flex-direction: column;
            flex: 1;
            padding: 2rem;
            gap: 2.5rem;

            // background-color: burlywood;
            .title-cont {
                display: flex;
                justify-content: center;


                .title {
                    font-size: 2.5rem;
                    font-weight: 700;
                    display: flex;
                    justify-content: center !important;
                    align-items: center !important;

                    &::selection {
                        background: transparent;
                    }
                }
            }

            .name {

                margin: 0%;
                padding: 0%;
            }

            .fname {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .5rem;
            }

            .lname {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .mob {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .5rem;
            }

            .email {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .5rem;
            }

            .pass {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .5rem;
            }

            .pas-cont {
                display: flex;
                align-items: center;
                position: relative;
            }

            .password {
                display: inline;
            }

            .pshow {
                position: absolute;
                right: 1rem;
                font-size: 1.5rem;
                padding-bottom: 2rem;

                &:active {
                    scale: 1.1;
                }

                &::selection {
                    background: transparent;
                }

            }

            label {
                font-size: 1.5rem;
                font-weight: 500;
            }

            input {
                outline: none;
                font-size: 2rem;
                border: 1px solid black;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                width: 35rem;

            }

            .btn-cont {
                display: flex;
                justify-content: center;
                align-items: center;

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.7rem;
                    font-weight: 500;
                    border: 1px solid black;
                    width: 13rem;
                    height: 3.5rem;
                    border-radius: .5rem;
                    cursor: pointer;
                    transition: all .5s;

                    &:hover {
                        background-color: blue;
                        color: white;
                    }

                    &:active {
                        scale: 1.1;
                    }

                    &::selection {
                        background: transparent;
                    }
                }
            }



        }

        .divide {
            width: .1rem;
            height: 100%;
            background-color: black;
        }

        .c-oauth {
            display: flex;
            justify-content: center;
            align-items: center;
            // align-items: center;
            flex: 1;
            padding: 2rem;
            width: 100%;

            .c-gbtn {
                display: flex;
                gap: 1rem;
                flex-direction: column;

                .c-glogin-btn {
                    width: 20rem;
                    height: 5rem;
                    font-weight: bolder;
                    display: flex;
                    justify-content: center;
                }

                .c-glogout-btn {
                    width: 20rem;
                    height: 5rem;
                    display: flex;
                    justify-content: center;
                }
            }



        }
    }



}

@media (max-width: 1100px) {
    .con-profile {
        flex-direction: column !important;

    }

}