.selleot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .sell-head {
        padding-top: 2rem;
        font-size: 3rem;
    }

    .sellerot-date-container {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .s-date-btn-wrap {
            display: flex;
            gap: 1.5rem;

            .s-date-btn {
                background-color: blue;
                color: white;
                padding: 1rem 2rem;
                font-size: 1.8rem;
                border-radius: 5px;
                cursor: pointer;
                transition: all .3s;

                &:active {
                    scale: 1.1;
                }

                &::selection {
                    background: transparent;
                }
            }


        }

        .sellerot-date-wrapper {
            display: flex;
            gap: 5rem;

            .sell-start-date {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 600;

                .sell-ot-input {
                    font-size: 1.4rem;
                    width: 20rem;
                    text-align: center;
                    font-weight: 700;
                }

            }

            .sell-end-date {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 600;

                .sell-ot-input {
                    font-size: 1.4rem;
                    width: 20rem;
                    text-align: center;
                    font-weight: 700;

                }
            }





        }
    }

    .seller-trans-detail-cont {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        overflow-y: scroll;
        height: 35rem;

        .seller-trans-detail-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: burlywood;
            font-size: 1.8rem;
            font-weight: 800;
            padding: 1rem 2rem;
            border-radius: 5px;
            width: 100%;

            .trans-name-rupe {
                display: flex;
                justify-content: space-evenly;
                gap: 7rem;

                .sel-con-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .5rem 1rem;
                    flex-wrap: wrap;
                }

                .sel-con-amt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 1rem;
                    color: red;

                }
            }

            .trans-date-purpose {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 7rem;
                width: 100%;
                flex-wrap: wrap;

                .sel-con-date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    flex-wrap: wrap;
                }

                .sel-con-purpose {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 1rem;
                    word-wrap: break-word;
                    color: midnightblue;
                }
            }











        }

    }



}

@media (max-width: 600px) {

    .sellerot-date-container {


        .sellerot-date-wrapper {
            gap: 1rem;

            .sell-start-date {

                .sell-ot-input {
                    font-size: 1rem;

                }
            }


            .sell-end-date {

                .sell-ot-input {
                    font-size: 1rem;

                }
            }

        }
    }


    .sell-start-date {
        font-size: 1rem;
    }

    .seller-trans-detail-cont {
        height: 60rem !important;

        .seller-trans-detail-wrapper {
            gap: 1.4rem;
            padding: 1rem 3rem;
        }
    }


}