.conit-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .sell-head {
        padding-top: 2rem;
        font-size: 3rem;
    }

    .conIT-date-container {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .s-date-btn-wrap {
            display: flex;
            gap: 1.5rem;

            .s-date-btn {
                background-color: blue;
                color: white;
                padding: 1rem 2rem;
                font-size: 1.8rem;
                border-radius: 5px;
                cursor: pointer;
                transition: all .3s;

                &:active {
                    scale: 1.1;
                }

                &::selection {
                    background: transparent;
                }
            }


        }

        .sellerot-date-wrapper {
            display: flex;
            gap: 5rem;

            .conIt-start-date {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 600;

                .con-track-input,
                .con-track-input2 {
                    font-size: 1.4rem;

                }

            }

            .conIt-end-date {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 600;

                .sell-ot-input {
                    font-size: 1.4rem;

                }
            }





        }
    }

    .ContIt-trans-detail-cont {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        overflow-y: scroll;
        height: 35rem;

        .ConIt-trans-detail-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background-color: burlywood;
            font-size: 1.8rem;
            font-weight: 800;
            padding: 1rem 2rem;
            border-radius: 5px;

            .consumerTr-name-amt {
                display: flex;
                justify-content: space-evenly;
                gap: 7rem;

                .contr-con-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .5rem 1rem;
                    flex-wrap: wrap;
                }

                .contr-con-amt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 1rem;
                    color: red;



                    .contr-con-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                }


            }

            .consumerTr-date-purpose {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 7rem;
                width: 100%;
                flex-wrap: wrap;

                .contr-con-date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    flex-wrap: wrap;
                }

                .contr-con-purpose {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 1rem;
                    word-wrap: break-word;
                    color: midnightblue;
                }

            }





            .ConIt-con-name {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .ConIt-con-date {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .ConIt-con-purpose {
                display: flex;
                justify-content: center;
                align-items: center;
            }





            .ConIt-con-amt {
                display: flex;
                justify-content: center;
                align-items: center;
                color: red;

            }

        }

    }

    @media (max-width: 600px) {

        .conIT-date-container {
            .sellerot-date-wrapper {
                gap: 1rem;

                .conIt-start-date {

                    .con-track-input1 {
                        font-size: 1rem;

                    }
                }


                .conIt-end-date {

                    .con-track-input2 {
                        font-size: 1rem;

                    }
                }

            }
        }


        .conIt-start-date {
            font-size: 1rem;
        }

        .ContIt-trans-detail-cont {

            height: 60rem;

            .ConIt-trans-detail-wrapper {
                gap: 1.4rem;
                padding: 1rem 3rem;
            }
        }


    }

}