.selleit-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .sell-head {
        padding-top: 2rem;
        font-size: 3rem;
    }

    .sellerot-date-container {
        padding: 3rem 1rem;

        .sellerot-date-wrapper {
            display: flex;
            gap: 5rem;

            .sell-start-date {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 600;

                .sell-track-input,
                .sell-track-input2 {
                    font-size: 1.4rem;

                }

            }

            .sell-end-date {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 600;

                .sell-ot-input {
                    font-size: 1.4rem;

                }
            }





        }
    }

    .seller-trans-detail-cont {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        overflow-y: scroll;
        height: 35rem;

        .sellerTr-trans-detail-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background-color: burlywood;
            font-size: 1.8rem;
            font-weight: 800;
            padding: 1rem 2rem;
            border-radius: 5px;

            .sellerTr-name-amt {
                display: flex;
                justify-content: space-evenly;
                gap: 7rem;

                .seltr-con-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: .5rem 1rem;
                    flex-wrap: wrap;
                }

                .seltr-con-amt {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 1rem;
                    color: red;



                    .seltr-con-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                }


            }

            .sellerTr-date-purpose {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 4rem;
                width: 100%;
                flex-wrap: wrap;

                .seltr-con-date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    flex-wrap: wrap;
                }

                .seltr-con-purpose {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 1rem;
                    word-wrap: break-word;
                    color: midnightblue;
                }

                .seltr-con-del {
                    font-size: 2rem;
                    cursor: pointer;
                    transition: all .5s;

                    &:active {
                        scale: 1.4;
                    }

                    &:hover {
                        color: red;

                    }
                }

            }










        }

    }



}

@media (max-width: 600px) {

    .selleit-track {

        .sellerot-date-container {
            .sellerot-date-wrapper {
                gap: 1rem;

                .sell-start-date {

                    .sell-ot-input {
                        font-size: 1rem;

                    }
                }


                .sell-end-date {

                    .sell-ot-input {
                        font-size: 1rem;

                    }
                }

            }
        }


        .sell-start-date {
            font-size: 1rem;
        }

        .seller-trans-detail-cont {

            height: 60rem;

            .sellerTr-trans-detail-wrapper {
                gap: 1.4rem;
                padding: 1rem 3rem;
            }
        }


    }
}